body{
	margin: 0;
	padding: 0;
	font: 18px/1.7 Catamaran,sans-serif;
	background-image: url("img/bg.png");
}

#nav{
	display: flex;
	position: fixed;
	align-items: center;
	height: 100px;
	width: 100%;
	z-index: 100;
	background-color: unset;
	transition-duration: 0.5s;
}

.navScroll{
	background-color: #34495e !important;
}

.nav-header{
    text-shadow: 0px 0px 50px black;
	font-family: 'Courgette', cursive;
	font-size: 50px;
	font-weight: 700;
	color: white;
	margin: 20px;
	margin-left: 3%;
}

.nav-armsimg{
	width: 100px;
	height: 125px;
	background-image: url("img/arms.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 50px;
}

nav{
	margin-left: auto;
	height: 100%;
	color: white;
}

nav > ol{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding-right: 35px;
	height: 100%;
}

nav>ol>li{
	font-size: 35px;
	font-weight: 700;
	display: flex;
	align-items: center;
	border-top: 5px solid rgba(0,0,0,0);
	height: 95%;
	transition-duration: 0.5s;
}
nav>ol>li:hover{
	border-top: 5px solid white;
}

nav>ol>li>a{
	padding: 10px 15px 15px 15px;
	text-decoration: none;
	color: white;
	transition-duration: 0.5s;

}

nav>ol>li>a>p{
	text-shadow: 0px 0px 40px black;
}

.noShadow{
	text-shadow: none;
}

.main-img{
	background-image: url("img/main.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
}

.conteiner{
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.conteiner:first-child{
	padding-bottom: 30px;
}

.welcoming-header{
	font-size: 100px;
	font-weight: 700;
	margin-left: 15px;
	color: white;
	text-shadow: 0px 0px 50px black;
	line-height: 120%;
}

.fh{
	padding-top: 480px; 
}

#arrow{
	width: 70px;
	height: 70px;
	border: 5px solid white;
	border-radius: 50%;
	font-size: 5rem;
	text-align: center;
	color: white;
	text-shadow: 0 -15px 0 white, 0 -30px 0 white;
	overflow: hidden;
	transition: 0.3s ease;
	margin: 20px auto 0 auto;
}

#arrow:hover{
	transform: scale(1.1);
	font-size: 6rem;
}

.fa-angle-down{
	animation: arrow 1.6s infinite linear;
}

@keyframes arrow {
	0%{
		transform: translateY(-80px);
	}
	50%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(80px);
	}
}

.conteiner > h1{
	margin: 50px auto 0px auto;
	position: relative;
	font-family: 'Courgette', cursive;
	font-size: 50px;
	max-width: 730px;
	text-align: center;
    color: black;

}

.after-line::after{
	content: "";
    width: 400px;
    background-color: black;
    height: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.border-top{
	border-top: 99px solid transparent;
}


.flex-conteiner{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 120px;
}

.item{
	text-align: center;
	font-size: 21px;
	margin: 25px;
	margin-bottom: 100px;
	max-width: 336px;
	padding: 15px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
	transition-duration: 0.3s;
}

.item h2{
	font-size: 36px;
	margin-bottom: 10px;
}

.item p{
	font-size: 18px;
	padding: 20px;
	text-align: justify;
	text-align-last: center;
}

.item:hover{
	transform: scale(1.1);
}

.fa-calendar-check-o,.fa-futbol-o,.fa-map-o{
	font-size: 120px;
	margin-left: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.art{
	width: 500px;
	height: 400px;
	background-size: cover;
}

.first-img{
	background-image: url("img/1.jpg");
}

.second-img{
	background-image: url("img/2.jpg");
}

.art-text{
	max-width: 600px;
}

.art-text p{
	margin: 0;
	padding: 30px;
	padding-top: 10px;
	text-align: justify;
	text-align-last: center;
}

.art-text h1{
	text-align: center;
	margin: 10px;
	font-size: 40px;
}

.weather-img{
	background-image: url("img/weather.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.osrodek-img{
	background-image: url("img/osrodek.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.osrodek-text{
	max-width: 500px;
	height: 550px;
    background-color: white;
    margin: 50px 100px 50px auto;
    opacity: 0.7;
    text-align: center;
}

.osrodek-text p{
	text-align: justify;
	text-align-last: center;
	padding: 20px;
	margin: 0;
}

.osrodek-text h1{
	padding-top: 50px;
	font-size: 40px;
	margin: 0;
}

#padding-zero{
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px;
}

#weather-keeper{
	width: 300px;
	padding: 70px;
}

#inpl-weather-main{
}

.font-size{
	font-size: 75px !important;
}

#map{
	width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}


.iframe{
	width: 800px;
	height: 600px;
}

footer{
	padding: 20px;
}